<nav class="sentence-processing-navbar navbar navbar-default navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <span class="navbar-brand">
                <a href="index.html">
                    <img src="./images/logo.jpg" class="navbar-logo" />
                </a>
            </span>
            <span class="navbar-brand page-title">
                <a>
                    Sentence Processing
                </a>
            </span>
        </div>
    </div>
</nav>
<div class="app-container">
    <router-outlet></router-outlet>
</div>