<nav class="sentence-processing-navbar navbar navbar-default navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <span class="navbar-brand">
                <a href="index.html">
                    <img src="./images/logo.jpg" class="navbar-logo" />
                </a>
            </span>
            <span class="navbar-brand page-title">
                <a>
                    Sentence Processing
                </a>
            </span>
        </div>
    </div>
</nav>
<div id="homePage" class="app-container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <button class="btn btn-primary btn-block">Encode Sentence</button>
        </div>
        <div class="col-xs-12 col-md-3">
            <button class="btn btn-primary btn-block">Decode Sentence</button>
        </div>
        <div class="col-xs-12 col-md-3">
            <button class="btn btn-primary btn-block">View History</button>
        </div>
    </div>
</div>