<div id="homePage">
    <div class="row">
        <div class="col-xs-12 col-md-3" (click)="openEncodeSentence()">
            <button class="btn btn-primary btn-block">Encode Sentence</button>
        </div>
        <div class="col-xs-12 col-md-3">
            <button class="btn btn-primary btn-block" (click)="openDecodeSentence()">Decode Sentence</button>
        </div>
        <div class="col-xs-12 col-md-3">
            <button class="btn btn-primary btn-block">View History</button>
        </div>
    </div>
</div>