.sentence-processing-navbar {
    .navbar-header {
        width: 100%;
        margin-left: 0px;
    }

    img.navbar-logo {
        width: 25px;
        height: 25px;
    }

    .navbar-brand {
        &.page-title {
            a {
                color: $headerColour;

                &:hover {
                    text-decoration: none;
                }
            }

            padding-left: 0px;
        }
    }
}